{% load oldboy %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>华熙现场-监控系统</title>
	<!-- <link rel="icon" href="favicon.ico"/> -->
    <link rel="icon" href="/static/img/favicon.ico"/>
    <link type="text/css" rel="stylesheet"
          href="/static/css/login.css"/>
	<!-- <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>   
	<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script> -->
	<script>
	function checkInput() {
    var password = document.getElementById('password');
    <!-- var password_md5 = document.getElementById('password_md5'); -->

    // set password
    password.value =  md5(password.value);
    return true;
	}
	</script>
</head>
<body>
<div><a href='/ad/login/'><img src="/static/img/page_logo.gif" alt="华熙现场官网" /></a></div>
<div >
<ul>
	<li><a href='/ad/userlist/'>用户管理</a></li>
	<li><a href='/ad/assetlist/'>资产管理</a></li>
	<li><a href='/ad/monitor1/'>主机监控</a><ul>
		<li><a href='/ad/monitor/hostgroup/'>主机组</a></li>
		<li><a href='/ad/monitor/templates/'>主机模板</a></li>
		<li><a href='/ad/monitor/triggers/'>主机触发器</a></li>
		<li><a href='/ad/monitor/warning/'>告警规则</a></li>
	</ul></li>
</ul>
</div>
    




<div>

<h2 style='position:relative;left:3%'>主机监控</h2>
		<table style='position:relative;left:8%;top:10px;bottom:50px;border:1px ' border='1'>
			<th>
				<td>主机名</td>
				<td>ip</td>
				<td id="th1" onclick="SortTable(this)">CPU使用率 <img style="height:15px;width:15px" src="/static/img/sort.png" /></td>
				<td id="th2" onclick="SortTable(this)">内存使用率 <img style="height:15px;width:15px" src="/static/img/sort.png" /></td>
				<td id="th3" onclick="SortTable(this)">磁盘使用率 <img style="height:15px;width:15px" src="/static/img/sort.png" /></td>
			</th>		
			
			
			{% for item in data%}
			<tr name="RuleIndextable">
				<td name="td4" style="width:50px"><a target="_blank" href="/ad/monitor/{{item.host}}"><img style="height:15px;width:25px" src="/static/img/wxb报表.png"></a></td>
				<td name="td0" style="width:200px">{{item.host}}</td>
				<td name="td5" style="width:200px">{{item.ip}}</td>
				<td name="td1" style="width:200px">{{item.cpu}}</td>
				<td name="td2" style="width:200px">{{item.mem}}</td>
				<td name="td3" style="width:200px">{{item.disk}}</td>
			</tr>		
			{% endfor %}
			
			
		
		</table>

		<form><table style='position:relative;left:30.8%;top:20px;bottom:50px' border="1px">
		<tr ><div >
			<td><select id="default_size" style="height:23px" onchange="javascript:location.href='/ad/monitor1/1/?default_size='+this.value;">
				{% if default_size == 10 %}
				<option label="10" value="10" selected="selected">10</option>
				<option label="20" value="20">20</option>
				<option label="50" value="50">50</option>
				<option label="100" value="100">100</option>
				{% elif default_size == 20 %}
				<option label="10" value="10" >10</option>
				<option label="20" value="20" selected="selected">20</option>
				<option label="50" value="50">50</option>
				<option label="100" value="100">100</option>
				{% elif default_size == 50 %}
				<option label="10" value="10" >10</option>
				<option label="20" value="20">20</option>
				<option label="50" value="50" selected="selected">50</option>
				<option label="100" value="100">100</option>
				{% elif default_size == 100 %}
				<option label="10" value="10" >10</option>
				<option label="20" value="20">20</option>
				<option label="50" value="50">50</option>
				<option label="100" value="100" selected="selected">100</option>
				{% endif %}
			</select></td>
			<td><a href="javascript:;" name="/ad/monitor1/{{up_page}}/" onclick="javascript:change_page_href(this)">上一页</a></td>
			<td>&nbsp;<span>{{page_num}}</span>&nbsp;</td>
			<!-- <td><a href="/ad/monitor1/{{down_page}}/">下一页</a></td> -->
			<td><a href="javascript:;" name="/ad/monitor1/{{down_page}}/" onclick="javascript:change_page_href(this)">下一页</a></td>
		</div></tr>
		</table></form>
		
		
<img style="position:fixed;right:150px;bottom:134px;height:34px;width:34px" src="/static/img/sanjiaoxing2.png" />
<button id="backtop" style="position:fixed;right:150px;bottom:100px;height:34px;width:34px">Top</button>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

function change_page_href(obj){
	var ori_url = obj.name;
	var page_size = document.getElementById("default_size").value;
	var last_url = ori_url + '?default_size=' + page_size;
	obj.href = last_url;
}




backtop.onclick = function(){
	document.body.scrollTop = document.documentElement.scrollTop = 0;
}
var tag=1;
    function sortNumberAS(a, b)
    {
        return a - b    
    }
    function sortNumberDesc(a, b)
    {
        return b-a
    }

    function SortTable(obj){
		var td4s=document.getElementsByName("td4");
        var td0s=document.getElementsByName("td0");
		var td5s=document.getElementsByName("td5");
        var td1s=document.getElementsByName("td1");
        var td2s=document.getElementsByName("td2");
        var td3s=document.getElementsByName("td3");
		var tdArray4=[];
        var tdArray0=[];
		var tdArray5=[];
        var tdArray1=[];
        var tdArray2=[];
        var tdArray3=[];
		for(var i=0;i<td4s.length;i++){
            tdArray4.push(td4s[i].innerHTML);
        }
        for(var i=0;i<td0s.length;i++){
            tdArray0.push(td0s[i].innerHTML);
        }
		for(var i=0;i<td5s.length;i++){
            tdArray5.push(td5s[i].innerHTML);
        }
        for(var i=0;i<td1s.length;i++){
            tdArray1.push(parseFloat(td1s[i].innerHTML));
        }
        for(var i=0;i<td2s.length;i++){
            tdArray2.push(parseFloat(td2s[i].innerHTML));
        }
        for(var i=0;i<td3s.length;i++){
            tdArray3.push(parseFloat(td3s[i].innerHTML));
        }
        var tds=document.getElementsByName("td"+obj.id.substr(2,1));
        var columnArray=[];
        for(var i=0;i<tds.length;i++){
            columnArray.push(parseFloat(tds[i].innerHTML));
        }
        var orginArray=[];
        for(var i=0;i<columnArray.length;i++){
            orginArray.push(columnArray[i]);
        }
        if(obj.className=="as"){
            columnArray.sort(sortNumberAS);               //排序后的新值
            obj.className="desc";
        }else{
            columnArray.sort(sortNumberDesc);               //排序后的新值
            obj.className="as";
        }


        for(var i=0;i<columnArray.length;i++){
            for(var j=0;j<orginArray.length;j++){
                if(orginArray[j]==columnArray[i]){
					document.getElementsByName("td4")[i].innerHTML=tdArray4[j];
                    document.getElementsByName("td0")[i].innerHTML=tdArray0[j];
					document.getElementsByName("td5")[i].innerHTML=tdArray5[j];
                    document.getElementsByName("td1")[i].innerHTML=tdArray1[j];
                    document.getElementsByName("td2")[i].innerHTML=tdArray2[j];
                    document.getElementsByName("td3")[i].innerHTML=tdArray3[j];
                    orginArray[j]=null;
                    break;
                }
            }
        }
    }
</script>

</div>





</body>
</html>