{% extends "master/layout.html" %}
{% load oldboy %}
{% block content %}

<h2 style='position:relative;left:3%'>主机触发器</h2>
	<form action='/ad/monitor/warning/' method='POST'>{% csrf_token %}
		<table style='position:relative;left:8%;top:10px;bottom:50px' border='1'>
			<th>
				<td>模板名</td>
				<td>描述</td>
				<td></td>
			</th>		
			{% for item in data%}
			
			
			<tr name="RuleIndextable">
				<td>{{item.id}}</td>
				<td >{{item.name}}</td>
				<td>{{item.memo}}</td>
				<td style='border-style:none'><input id={{item.id}} type="button" value="保存" onclick="javascript:submitdata(this)"/></td>
			</tr>		
			{% endfor %}
			
			<!-- <tr name="assettable">
				<td>{{item.id}}</td>
				<td id="1000name">{% mymethod item.id %}</td>
				<td ><input name="hostname"/></td>
				<td ><input name="ip"/></td>
				<td>{{item.create_date|date:"Y-m-d H:i:s"}}</td>
				<td>{{item.update_date|date:"Y-m-d H:i:s"}}</td>
				<td ><select name="groupid">
					<option value=2>运维组</option>
					<option value=1>管理组</option>
				</select></td>
				<td style='border-style:none'><input type='submit' value='新增'/></td>
			</tr> -->
		
		</table>
	</form>

<img style="position:fixed;right:150px;bottom:134px;height:34px;width:34px" src="/static/img/sanjiaoxing2.png" />
<button id="backtop" style="position:fixed;right:150px;bottom:100px;height:34px;width:34px">Top</button>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
var jishi=document.getElementsByClassName("td-1");
			//遍历数组，给每个td添加点击事件
			for(var j=0;j<jishi.length;j++){
				jishi[j].onclick=function(){
				//首先要创造个输入框
				var shuru=document.createElement("input");
				//给输入框添加类型，因为输入框有很多的类型
				shuru.type="text";
				//输入框的内容是本身就有的，获取它的内容，用指针来代替
				shuru.value=this.innerText;
				var shuru1=shuru.value
				//把td的内容清空，然后把新建的节点加给它
				this.innerHTML="";
				this.appendChild(shuru);
				shuru.onblur=function(){
					shuru.parentNode.innerHTML=shuru.value;
				}
				shuru.focus();
				}
			}
backtop.onclick = function(){
	document.body.scrollTop = document.documentElement.scrollTop = 0;
}
function submitdata(obj){
	//alert('数据提交成功');
	var subhm=obj.parentNode.parentNode.childNodes[5].innerHTML;
	var subip=obj.parentNode.parentNode.childNodes[7].innerHTML;
	$.ajax({
		url:"/ad/assetupdate/",
		data:{id:obj.id,hostname:subhm,ip:subip,csrfmiddlewaretoken: '{{ csrf_token }}'},
		type:'POST',
		success:function(data){
			//console.log('success');
			alert(data);
		},
		error:function(data){
			console.log(data);
		},
	});
}
</script>

{% endblock %}