{% extends "master/layout.html" %}
{% load oldboy %}
{% block content %}

<h2 style='position:relative;left:3%'>报警规则</h2>
	<form action="/ad/monitor/warningupdate/{{page_num|safe}}/" method='POST'>{% csrf_token %}
		<table style='position:relative;left:8%;top:10px;bottom:50px' border='1'>
			<th style="width:35px">
				<td style="width:100px">告警名</td>
				<td style="width:100px">触发器</td>
				<td style="width:99px">监控时长</td>
				<td style="width:99px">次数</td>
				<td style="width:99px">比较符</td>
				<td style="width:99px">数据</td>
				<td style="width:99px">告警</td>
				<td style="width:50px">启用</td>
				<td style="width:50px"></td>
			</th>
		</table>
	</form>
			{% for item in data%}
			
			<form action="/ad/monitor/warningupdate/{{page_num|safe}}/" method='POST'>{% csrf_token %}
			<table style='position:relative;left:8%;top:10px;bottom:50px' border='1'>
			<tr name="RuleIndextable" >
				<td style="width:35px"><input name="id" value="{{item.id}}" readonly="readonly" style="width:35px;border:0px"></input></td>
				<td style="width:100px">{% get_rule_index_name item.name%}</td>
				<td style="width:100px">{{item.triggers.name}}</td>
				<td style="width:100px">{{item.time}}分钟</td>
				<td style="width:100px">{% get_rule_index_triggers_times item.triggers_times %}</td>
				<td style="width:100px">{% get_triggers_diff item.triggers_diff %}</td>
				<td style="width:100px">{{item.triggers_value}}</td>
				{% autoescape off %}
				<td style="width:100px">{% get_warning_message item.warning %}</td>
				{% endautoescape %}
				{% if item.switch %}
				<td style="width:50px"><select name="switch" style="height:22px">
				<option value="1" selected="selected">启用</option>
				<option value="0">关闭</option>
				</select></td>
				{% else %}
				<td style="width:50px"><select name="switch" style="height:22px">
				<option value="1">启用</option>
				<option value="0" selected="selected">关闭</option>
				</select></td>
				{% endif %}
				
				<td style='border-style:none' >&nbsp;<input  type="submit" value="保存" style="width:43px" /></td>
				
			</tr>
			
			</table>
			
			</form>
			{% endfor %}
			<!-- <tr name="assettable">
				<td>{{item.id}}</td>
				<td id="1000name">{% mymethod item.id %}</td>
				<td ><input name="hostname"/></td>
				<td ><input name="ip"/></td>
				<td>{{item.create_date|date:"Y-m-d H:i:s"}}</td>
				<td>{{item.update_date|date:"Y-m-d H:i:s"}}</td>
				<td ><select name="groupid">
					<option value=2>运维组</option>
					<option value=1>管理组</option>
				</select></td>
				<td style='border-style:none'><input type='submit' value='新增'/></td>
			</tr> -->
		<form><table style='position:relative;left:30.8%;top:20px;bottom:50px' border="1px">
		<tr ><div >
			<td><a href="/ad/monitor/warning/{{up_page}}/">上一页</a></td>
			<td>&nbsp;<span>{{page_num}}</span>&nbsp;</td>
			<td><a href="/ad/monitor/warning/{{down_page}}/">下一页</a></td>
		</div></tr>
		</table></form>
<h2 style='position:relative;left:3%'>新增报警规则</h2>

<form action='/ad/monitor/warning/' method='POST'>{% csrf_token %}
<table style='position:relative;left:8%;top:0px;bottom:50px' >
				<tr name="new_asset_table">
				<td></td>
				<td >{{form2.name}}</td>
				<td><select name="triggers" style="margin-top:5px">
					{% for i in form %}
					<option  value="{{i.id}}">{{i.name}}</option>
					{% endfor  %}
				</select></td>
				<td >{{form2.time}}</td>
				<td >{{form2.triggers_times}}</td>
				<td >{{form2.triggers_diff}}</td>
				<td>{{form2.triggers_value}}</td>
				<td ><input type='submit' value='新增' /></td>
			</tr>
</table>
</form>	
<img style="position:fixed;right:150px;bottom:134px;height:34px;width:34px" src="/static/img/sanjiaoxing2.png" />
<button id="backtop" style="position:fixed;right:150px;bottom:100px;height:34px;width:34px">Top</button>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
var jishi=document.getElementsByClassName("td-1");
			//遍历数组，给每个td添加点击事件
			for(var j=0;j<jishi.length;j++){
				jishi[j].onclick=function(){
				//首先要创造个输入框
				var shuru=document.createElement("input");
				//给输入框添加类型，因为输入框有很多的类型
				shuru.type="text";
				//输入框的内容是本身就有的，获取它的内容，用指针来代替
				shuru.value=this.innerText;
				var shuru1=shuru.value
				//把td的内容清空，然后把新建的节点加给它
				this.innerHTML="";
				this.appendChild(shuru);
				shuru.onblur=function(){
					shuru.parentNode.innerHTML=shuru.value;
				}
				shuru.focus();
				}
			}
backtop.onclick = function(){
	document.body.scrollTop = document.documentElement.scrollTop = 0;
}

</script>
<script language="JavaScript">  
        //动态刷新页面—2016年7月27日16:24:26  
        function myrefresh() {  
            window.location.reload();  
        }  
        setTimeout('myrefresh()', 30000); //指定30秒刷新一次  
    </script>
{% endblock %}